
*.directory
*.swp
*~
.DS_Store

# sublime project-files
*.sublime-project
*.sublime-workspace

# vscode project
*.code-workspace
.vscode/*
!.vscode/templates


docs/phpdoc-cache*
docs/structure.xml
docs/ApiIndex.md
